.ion-color-ourcolor {
	--ion-color-base: var(--ion-color-ourcolor);
	--ion-color-base-rgb: var(--ion-color-ourcolor-rgb);
	--ion-color-contrast: var(--ion-color-ourcolor-contrast);
	--ion-color-contrast-rgb: var(--ion-color-ourcolor-contrast-rgb);
	--ion-color-shade: var(--ion-color-ourcolor-shade);
	--ion-color-tint: var(--ion-color-ourcolor-tint);
}